<section class="w-full">

    <p class="mt-9">
        «Читай-город» – это самая большая в России сеть книжных магазинов и интернет-магазин. Компания входит в
        объединённую розничную сеть «Читай-город» – «Гоголь-Моголь» – «Буквоед».
    </p>
    <p class="mt-4">
        Мы не просто продаём книги, а разделяем любовь наших покупателей к чтению. Нам знакомо чувство, когда
        хорошие романы заканчиваются слишком быстро, времени в дороге не хватает, чтобы дочитать главу, а героиня
        никак не может найти свою любовь. Мы знаем, как быстро летит время в компании с новинкой любимого автора и
        как сильно хочется растянуть это удовольствие.
    </p>
    <p class="mt-4">
        Помимо книг в «Читай-город» можно найти канцтовары, сладости, подарочную упаковку и идеи для сюрпризов
        близким. Мы сами разрабатываем дизайны для многих ежедневников, закладок, товаров для творчества и других
        интересных вещей, поэтому кроме как в «Читай-город» их больше нигде не найти.
    </p>

    <figure class="mt-6">
        <figcaption class="text-2xl font-medium">Информация о компании</figcaption>
        <ul class="mt-4 max-w-[630px] flex flex-col gap-3">
            <li class="flex">
                <div class="w-1/2 text-slate-500">
                    Название магазина
                </div>
                <div class="w-1/2">
                    ООО "Много Книг"
                </div>
            </li>

            <li class="flex">
                <div class="w-1/2 text-slate-500">
                    Адрес магазина
                </div>
                <div class="w-1/2">
                    Большая Садовая 110
                </div>
            </li>

            <li class="flex">
                <div class="w-1/2 text-slate-500">
                    Номер телефона
                </div>
                <div class="w-1/2">
                    8 (800) 444-84-44
                </div>
            </li>
        </ul>
    </figure>

    <div class="mt-4" style="position:relative;overflow:hidden;">
        <a
                href="https://yandex.ru/maps/org/chitay_gorod/1370508591/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">
            Читай-город
        </a>
        <a
                href="https://yandex.ru/maps/39/rostov-na-donu/category/bookstore/184105886/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">
            Книжный магазин в Ростове‑на‑Дону
        </a>
        <a
                href="https://yandex.ru/maps/39/rostov-na-donu/category/gift_and_souvenir_shop/184108001/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:28px;">
            Магазин подарков и сувениров в Ростове‑на‑Дону
        </a>
        <iframe class="w-full h-screen"
                src="https://yandex.ru/map-widget/v1/?ll=39.725640%2C47.223718&mode=poi&poi%5Bpoint%5D=39.725287%2C47.223684&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1370508591&z=17.8"
                frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
</section>